<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Elementary\Banner\Api\Data\BannerInterface" type="Elementary\Banner\Model\Banner"/>
    <preference for="Elementary\Banner\Api\Data\SlideInterface" type="Elementary\Banner\Model\Slide"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="banner_banner_listing_data_source" xsi:type="string">Elementary\Banner\Model\ResourceModel\Banner\Grid\Collection</item>
                <item name="banner_slide_listing_data_source" xsi:type="string">Elementary\Banner\Model\ResourceModel\Slide\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
