<div class="aw-rma__actions-switch" data-role="switcher">
    <input type="checkbox"
           class="actions-switch-checkbox"
           simple-checked="checked"
           ko-disabled="disabled"
           ko-focused="focused"
           ko-value="value"
           attr="id: uid, name: inputName"/>
    <label class="action-default actions-switch-label-off" attr="for: uid" text="toggleLabels.off"/>
    <label class="action-default actions-switch-label-on" attr="for: uid" text="toggleLabels.on"/>
</div>
