<!--@subject {{trans "RMA #%request_text_id by %customer_name: status is %request_status" request_text_id=$request.getTextId() customer_name=$request.getCustomerName() request_status=$request.getStatus()}}@-->
{{template config_path="design/email/header_template"}}
{{inlinecss file="Aheadworks_Rma::css/email.css"}}
<p>
    {{trans
        'RMA <a href="%admin_url">#%request_id</a> status has been changed to %request_status.'
        admin_url=$request.getAdminUrl() request_id=$request.getTextId() request_status=$request.getStatus()
    |raw}}
</p>
<p>
    {{trans
        '<strong><span>RMA ID:</span></strong> <a href="%admin_url">#%request_id</a>'
        admin_url=$request.getAdminUrl() request_id=$request.getTextId()
    |raw}}<br />
    {{trans
        '<strong><span>Order ID:</span></strong> <a href="%admin_url">#%order_id</a>'
        admin_url=$request.getNotifyOrderAdminLink() order_id=$request.getOrderId()
    |raw}}<br />
    {{trans
        '<strong><span>Customer:</span></strong> %customer_name <a href="mailto:%customer_email">%customer_email</a>'
        customer_name=$request.getCustomerName() customer_email=$request.getCustomerEmail()
    |raw}}<br />
    {{trans
        '<strong><span>Date:</span></strong> %date'
        date=$request.getFormattedCreatedAt()
    |raw}}<br />
    {{layout handle="aw_rma_email_request_custom_field" rma_request=$request store_id=$store.getStoreId() area="frontend"}}
</p>
{{depend request.getCustomText()}}
    <p>{{trans '%custom_text' custom_text=$request.getCustomText() |raw}}</p>
{{/depend}}
<h2><span>Items</span></h2>
{{layout handle="aw_rma_email_request_item" rma_request=$request store_id=$store.getStoreId() area="frontend"}}
{{depend request.getNotifyCommentText()}}
    <div class="aw-rma__comment">
        <strong><span>{{var request.getNotifyCommentLabel()}}</span></strong>
        <div class="comment-text">{{var request.getNotifyCommentText() |nl2br}}</div>
    </div>
{{/depend}}
<p>
    {{trans
        'You can view and manage the request <a href="%admin_url">here</a>'
        admin_url=$request.getAdminUrl()
    |raw}}
</p>

{{template config_path="design/email/footer_template"}}