<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Elementary\EmployeesOrders\Api\EmployeeOrderRepositoryInterface" type="Elementary\EmployeesOrders\Model\EmployeeOrderRepository"/>
    <preference for="Elementary\EmployeesOrders\Api\Data\EmployeeOrderInterface" type="Elementary\EmployeesOrders\Model\EmployeeOrder"/>
    <preference for="Elementary\EmployeesOrders\Api\Data\EmployeeOrderSearchResultInterface" type="Magento\Framework\Api\SearchResults"/>
</config>
