<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */


-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Elementary_EmployeesManager::customeremployee"
             title="Employees Manager"
             module="Elementary_EmployeesManager"
             sortOrder="99"
             resource="Elementary_EmployeesManager::employeesmanager"
             parent="Magento_Customer::customer" />
        <add
                action="elementary_employeesmanager/customeremployee"
                id="Elementary_EmployeesManager::elementary_customeremployee"
                module="Elementary_EmployeesManager"
                parent="Elementary_EmployeesManager::customeremployee"
                resource="Magento_Backend::content"
                sortOrder="9999"
                title="CustomerEmployee"/>
    </menu>
</config>